<!-- <app-whatis></app-whatis> -->
<h1 id="toc">Template Syntax</h1>
<a href="#interpolation">Interpolation</a> <br>
<a href="#expression-context">expression-context</a><br>
<a href="#statement-context">statement-context</a><br>
<a href="#mental-model">mental-model</a><br>

<hr>
<h2 id="interpolation">Interpolation</h2>
<p>My current hero is {{currentHero.name}}</p>
<h3>
    {{title}}
    <img alt="{{hero.name}}" src="{{heroImageUrl}}" style="height:30px">

</h3>

<p>The sum of 1 + 1 is {{1+1}}</p>

<p>The sum of 1+1 is not {{1+1 + getVal()}}</p>

<a class="to-toc" href="#toc">top</a>

<hr>
<h2 id="expression-context">expression context</h2>

<p>Component expression context (&#123;&#123; title &#125;&#125;, [hidden]="isUnchanged")</p>

<div class="context">{{title}}
    <span [hidden]="isUnchanged">changed</span>
</div>


<p>Template input variable expression context (let hero)</p>
<!-- template hides the following; plenty of examples later -->
<ng-template>
    <div *ngFor="let h of heroes">{{h.name}}</div>
</ng-template>

<p>Template reference variable expression context (#heroInput)</p>
<div (keyup)="0" class="context">
    Type something here:
    <input type="text" #heroInput> {{heroInput.value}}
</div>

<a class="to-toc" href="#toc">top</a>
<hr>
<h2 id="statement-context"> statement-context</h2>

<p>Component statement context ( (click)="onSave() )
<div class="context">
    <button type="button" (click)="deleteHero()">Delete Hero</button>
</div>

<div class="context">
    <button type="button" (click)="onSave($event)">Save</button>
</div>

<p>Template input variable statement context (let hero)</p>
<!-- template hides the following; plenty of examples later -->
<div class="context">
    <button *ngFor="let h of heroes" (click)="deleteHero(h)">{{h.name}}</button>
</div>


<p>Template reference variable statement context (#heroForm)</p>

<div>
    <form #heroForm (ngSubmit)="onSubmit(heroForm)">...</form>
</div>

<a class="to-toc" href="#toc">top</a>


<hr>
<h2 id="mental-model">mental-model</h2>
<!--<img src="https://wpclipart.com/dl.php?img=/cartoon/people/hero/hero_silhoutte.svg">-->
<!-- Public Domain terms of use: https://wpclipart.com/terms.html -->
<div class="special">Mental Model</div>
<img src="assets/images/hero.svg" [alt]="hero.name">
<button type="button" disabled="{{isUnchanged}}">Save</button>

<div>
    <div class="special">Mental Model</div>
    <app-hero-detail></app-hero-detail>
</div>


<div>
    <img [src]="heroImageUrl" [alt]="hero.name">
    <app-hero-detail [hero]="currentHero"></app-hero-detail>
    <div [ngClass]="{'special': isSpecial}"></div>
</div>

<button type="button" (click)="onSave()">Save111</button>
<app-hero-detail (deleteRequest)="deleteHero()"></app-hero-detail>
<div (myClick)="clicked = $event" clickable> click me</div>
{{ clicked }}
<br /><br />

<div>
    Hero Name:
    <input type="text" [(ngModel)]="name">
    {{ name }}
</div>
<br><br>

<button type="button" [attr.aria-label]="help">help</button>

<br><br>

<div [class.special]="isSpecial">Special</div>

<br><br>

<button type="button" [style.color]="isSpecial? 'red' : 'blue'">special button</button>


<a class="to-toc" href="#toc"></a>

<!-- property vs. attribute property binding first -->
<hr>
<h2 id="prop-vs-attrib">Property vs. Attribute (img examples)</h2>
<img src="images/ng-logo.svg" [src]="heroImageUrl" [alt]="hero.name">
<br /><br />

<img [src]="iconUrl" alt="icon">
<img [attr.src]="villainImageUrl" alt="villain-Image">

<a class="to-toc" href="#toc">top</a>
<hr />
<h2 id="buttons">Buttons</h2>
<button>Enabled (but does nothing)</button>
<button type="button" disabled>Disabled</button>
<button type="button" disabled="false">Still disabled</button>
<button type="button" [disabled]="isUnchanged">disabled by property binding</button>
<br /><br />

<button [disabled]="!canSave" (click)="onSave($event)">Save me </button>

<a class="to-toc" href="#toc">top</a>
<hr />
<h2 id="property-binding">Property Binding</h2>

<app-hero-detail [hero]="currentHero"></app-hero-detail>

<app-hero-detail prefix="Super hero: " [hero]="currentHero"></app-hero-detail>

<img src="{{heroImageUrl}}" alt="">
<img [src]="heroImageUrl" alt="">


<div (myClick)="clickMessage = $event" clickable>Click me again</div>
{{clickMessage}}

<app-hero-detail (deleteRequest)="deleteHero($event)" [hero]="currentHero"></app-hero-detail>

<app-big-hero-detail (deleteRequest)="deleteHero($event)" [hero]="currentHero"></app-big-hero-detail>

<!-- Important !!!!!!!!-->
<div class="parent-div" (click)="onClickMe($event)" clickable>Click me
    <div class="child-div">Click me too</div>
</div>

<!-- Will save only once --><!-- Important !!!!!!!!-->
<div (click)="onSave()" clickable>
    <button type="button" (click)="onSave($event)">Save, no propagation</button>
</div>
<!-- Will save twice -->
<div (click)="onSave()" clickable>
    <button type="button" (click)="onSave()">Save, with propagation</button>
</div>



<a class="to-toc" href="#toc">top</a>
<!-- Important !!!!!!!!-->
<hr />
<h2 id="two-way">Two-way Binding</h2>
<div id="two-way">
    <app-sizer [(size)]="fontSizePx"></app-sizer>
    <div [style.font-size.px]="fontSizePx">Resizable Text</div>
    <label for="font-size">FontSize (px): <input id="font-size" [(ngModel)]="fontSizePx"></label>
</div>
<br />
<div id="tow-way-2">
    <h3>De-sugard tow-way binding</h3>
    <app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx = $event"></app-sizer>
</div>

<a class="to-toc" href="#toc">top</a>
<hr>
<h3>Result: {{currentHero.name}}</h3>
<input [value]="currentHero.name" (input)="updateCurrentHeroName($event)">
without NgModel
<br /><br />

<input [(ngModel)]="currentHero.name">
with [(ngModel)]
<br /><br />

<input [(ngModel)]="currentHero.name" (ngModelChange)="currentHero.name = $event">
(ngModelChange)="...name=$event"
<br /><br />
<!-- Important !!!!!!!!-->
<input [(ngModel)]="currentHero.name" (ngModelChange)="setUppercaseName($event)">
(ngModelChange)="setUppercaseName($event)"


<a class="to-toc" href="#toc">top</a>


<!-- NgClass binding -->
<hr />
<h2 id="ngClass">NgClass Binding</h2>

<p>currentClasses is {{currentClasses | json}}</p>
<div [ngClass]="currentClasses">This div is initially savable, unchanged, and special</div>
<br />

<label for="canSave">savable
    <input type="checkbox" id="canSave" [(ngModel)]="canSave">
</label>
<label for="isSpecial">modified:
    <input type="checkbox" id="isUnchanged" [value]="!isUnchanged" (change)="isUnchanged = !isUnchanged">
</label>

<label for="isSpecial">special:
    <input type="checkbox" id="isSpecial" [(ngModel)]="isSpecial">
</label>

<button type="button" (click)="setCurrentClasses()">Refresh currentClasses</button>

<br /><br />

<div [ngClass]="currentClasses">
    This div should be {{canSave? ' ':'not' }} savable,
    {{isUnchanged ? 'unchanged' : 'modifed'}} and,
    {{isSpecial ? '': 'not'}} speical after clicking 'Refresh'.
</div>
<br /><br />
<div [ngClass]="isSpecial ? 'special' : ''">This div is special</div>

<div class="bad curly special">Bad curly special</div>
<div [ngClass]="{ bad: false, curly: true, special: true }">Curly special</div>

<a class="to-toc" href="#toc">top</a>


<!-- NgStyle binding -->

<hr />
<h2 id="ngStyle">NgStyle Binding</h2>

<div [style.font-size]="isSpecial ? 'x-large' : 'smaller'">
    This div is x-large or smaller.
</div>

<h3>[ngStyle] binding to currentStyles - CSS property names</h3>
<p>currentStyles is {{ currentStyles | json }}</p>
<div [ngStyle]="currentStyles">
    This div is initially italic, normal weight, and extra large (24px).
</div>

<br />
<label for="canSave">italic: <input id="canSave" type="checkbox" [(ngModel)]="canSave" /></label>
|
<label for="isUnchanged">normal: <input id="isUnchanged" type="checkbox" [(ngModel)]="isUnchanged" /></label>
|
<label for="isSpecial">xlarge: <input id="isSpecial" type="checkbox" [(ngModel)]="isSpecial" /></label>
<button type="button" (click)="setCurrentStyles()">
    Refresh currentStyles
</button>
<br /><br />
<div [ngStyle]="currentStyles">
    This div should be {{ canSave ? 'italic' : 'plain' }},
    {{ isUnchanged ? 'normal weight' : 'bold' }} and,
    {{ isSpecial ? 'extra large' : 'normal size' }} after clicking "Refresh".
</div>


<a class="to-toc" href="#toc">top</a>
<!-- NgIf binding -->
<hr />
<h2 id="ngIf">NgIf Binding</h2>
<app-hero-detail *ngIf="isActive"></app-hero-detail>

<div *ngIf="isActive">{{currentHero.name}}</div>
<div *ngIf="nullHero">hello, {{nullHero.name}}</div>

<!-- NgIf binding with template (no *) -->

<ng-template [ngIf]="currentHero">
    Add {{currentHero.name}} with template
</ng-template>

<ng-template [ngIf]="isActive">
    <app-hero-detail></app-hero-detail>
</ng-template>


<!-- NgFor binding -->
<hr />
<h2 id="ngFor">NgFor Binding</h2>

<div class="box">
    <div *ngFor="let h of heroes">{{h.name}}</div>
</div>


<div class="box" *ngFor="let h of heroes">
    <app-hero-detail [hero]="h"></app-hero-detail>
</div>
<a class="to-toc" href="#toc">top</a>

<div class="box">
    <div *ngFor="let h of heroes; let i= index">
        {{i+1}} - {{h.name}}
    </div>

</div>
<!-- important begin -->
<h4 id="ngFor-trackBy">*ngFor trackBy</h4>
<button type="button" (click)="resetHeroes()">Reset heroes</button>
<button type="button" (click)="changeIds()">Change ids</button>
<button type="button" (click)="clearTrackByCounts()">Clear counts</button>

<p><em>without</em> trackBy</p>
<div class="box">
    <div #noTrackBy *ngFor="let hero of heroes">
      ({{ hero.id }}) {{ hero.name }}
    </div>
  
    <div id="noTrackByCnt" *ngIf="heroesNoTrackByCount">
      Hero DOM elements change #{{ heroesNoTrackByCount }} without trackBy
    </div>
  </div>

<p>with trackBy</p>
<div class="box">
    <div #withTrackBy *ngFor="let hero of heroes; trackBy: trackByHeroes">
      ({{ hero.id }}) {{ hero.name }}
    </div>
  
    <div id="withTrackByCnt" *ngIf="heroesWithTrackByCount">
      Hero DOM elements change #{{ heroesWithTrackByCount }} with trackBy
    </div>
  </div>

  <br><br><br>

  <p>with trackBy and <em>semi-colon</em> separator</p>
  <div class="box">
    <div *ngFor="let hero of heroes; trackBy: trackByHeroes">
      ({{hero.id}}) {{hero.name}}
    </div>
  </div>
  
  <p>with trackBy and <em>comma</em> separator</p>
  <div class="box">
    <div *ngFor="let hero of heroes, trackBy: trackByHeroes">({{hero.id}}) {{hero.name}}</div>
  </div>
  
  <p>with trackBy and <em>space</em> separator</p>
  <div class="box">
    <div *ngFor="let hero of heroes trackBy: trackByHeroes">({{hero.id}}) {{hero.name}}</div>
  </div>
  
  <p>with <em>generic</em> trackById function</p>
  <div class="box">
    <div *ngFor="let hero of heroes, trackBy: trackById">({{hero.id}}) {{hero.name}}</div>
  </div>
<!-- important -->



<a class="to-toc" href="#toc">top</a>

<!-- NgSwitch binding -->
<hr />
<h2 id="ngSwitch">NgSwitch Binding</h2>

<p>Pick your favorite hero</p>
<div>
    <label for="hero-{{h}}" *ngFor="let h of heroes">
        <input 
        id="hero-{{h}}"
        type="radio"
        name="heroes1"
        [(ngModel)]="currentHero"
        [value]="h"> {{h.name}}  
    </label> <br /> {{currentHero.name}}
</div>

<div [ngSwitch]="currentHero.emotion">
    <app-happy-hero *ngSwitchCase="'happy'" [hero]="currentHero"></app-happy-hero>
    <app-sad-hero *ngSwitchCase="'sad'" [hero]="currentHero"></app-sad-hero>
    <app-confused-hero *ngSwitchCase="'confused'" [hero]="currentHero"></app-confused-hero>
    <div *ngSwitchCase="'confused'">Are you as confused as {{ currentHero.name }}?</div>
    <app-unknown-hero *ngSwitchDefault [hero]="currentHero"></app-unknown-hero>

</div>





<router-outlet></router-outlet>